@import "nullstyle.scss";
@font-face {
    font-family: "SF Compact Display";
    src: url("font/SFCompactDisplay.ttf") format("ttf"); 
    }

body {
    background-color: #DBEEEE;
    display: grid;
    grid-template-rows: 0.01fr auto;
    width: auto;

    font-family: "SF Compact Display", sans-serif;
    max-width: 2160px;
    font-weight: 100;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.055em;

    padding: 0 10px;
    margin: auto;
}

.wrapper-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-grow: 0.5;
}

.wrapper-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 0.5;
}

.wrapper-main {
    display: grid; 
    grid-template-columns: 1fr 1fr;
}


.menu {
    &__item {
        text-align: right;
        text-transform: uppercase;   
    }

    &__icon {
        padding: 10px;
    }

    &__text-item {
        flex-grow: 1;
        color: #3D9090;
    }
}

.main {
    &__item {
        justify-self: center;
    }

    &__img {
        justify-self: left;
    }

    &__interier {
        display: none;
        z-index: 1;
    }

    &__article {
      width:500px;
      margin: 20px 30px;
    }
}

.main-img-indent {
    margin-bottom: 10px;
}

.interier-indent {
    margin-left: 130px;
    margin-top: -718px;
}

.interier-size {
    width: 90px;
    height: 150px;
}

.interier-show {
    display: block;
    animation: showItemOpacity 1s linear forwards;
}

hr {
    border: 0;
    width: 120%;               
    background-color:#C4C4C4;
    height: 1px;
    margin-top: 50px;
}

.catalog {
   
    &__lamp {
        display: grid;
        grid-template-columns: 1fr 1fr 0.5fr;   
        justify-items: center;
    }

    &__image {
        display: none;
    }

    &__items {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-rows: 1fr 1fr 0.5fr;
        background-color: #BDDDDD;
        border-radius: 10px 0 0 0;
        overflow-y: scroll;
        overflow-x: hidden;

        &::-webkit-scrollbar{
            width: 10px;
            height: 5px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px; 
            background-color: #719b9b;
        }

        &::-webkit-scrollbar-track {
            background-color:#e7e7e7;
        }
    }

    &__item {
        display: none;
        justify-self: center;
        border-radius: 10px;

        &:hover{
            background-color: #FFFFFF;
        }   
    }

    &__selected_item {
        display: none;
        justify-self: center;
        border-radius: 10px;
        background: #FFFFFF;
    }

    &__switch{
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr 1fr; 
        height: 60px;
    }

    &__switch-day {
        background: #E4D7B9;
        border-radius: 0 0 0 10px;   
    }

    &__switch-night {
        background: #94A6A6;
    }

    &__info {
        background: #E4D7B9;
        border-radius: 50%; 
    }

    &__ul{
        display: none;
    }

    &__text {
        font-size: 12px;
        word-wrap:break-word;
    }
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #94A6A6;
    border-radius: 50%;
    animation: spin 2s linear infinite;

    width: 120px;
    height: 120px;

    margin: 40px auto;
    padding-left: 30px;
    
}


.text-indent {
    margin: 0px auto;
    padding-bottom: 15px;
    padding-left: 40px;
}

.text-area {
    width: 250px;
}

.info-size {
    width: 350px;
    height: 350px;
}

.info-indent {
    padding-top: 65px;
    margin-top: 20px;
    margin-left: -80px;
}

.item-size {
    width: 100px;
    height: 150px;
}

.image-size {
    width: 150px;
    height: 300px;  
}

.image-show {
    display: block;
    animation: showItemOpacity 1s linear forwards;
}

.list-indent {
    padding-top: 20px;
    padding-bottom: 30px;
    margin-right: -52px;
}

.items-size {
    width: 120px;
    height: 300px;
}

.items-indent {
    padding-top: 10px;
    padding: 10px;
}

.ul-show {
    display: block;
    animation: showItemOpacity 1s linear forwards;
}

.item-show {
    display: block;
    animation: showItemOpacity 1s linear forwards;
}

.image-scrollbar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 100px;
    height: 150px;
}

.indicator {
    display: inline;
}
  
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes showItemOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media all and (max-width: 1200px) {
    body {
        font-size: 14px;
    }

    .wrapper-main {
        grid-template-columns: 1fr;
    }

    .catalog {
        &__switch-night{
            border-radius: 0 0 10px 0;
        }
    }      
}

@media all and (max-width: 650px) {
    body {
        font-size: 12px;
    }

    .catalog {
        &__lamp{
            grid-template-rows:  1fr; 
            grid-template-columns: 2fr;
            justify-items: center;
        }

        &__info {
            justify-self: inherit;
            grid-column-start: 2;
        }

        &__image {
            grid-row-start: 2;
        }

        &__list {
            justify-self: inherit;
            grid-row-start: 2;
        }     
    }
    
    .info-indent{
        margin-right: 80px;
    }
}